//.mat-header-cell, .mat-cell{
//  flex: auto;
//}
.mat-column-checkboxEdit {
  flex: 0 0 5%;
}
.mat-column-id {
  flex: 0 0 5%;
}
.mat-column-name {
  flex: 0 0 10%;
}
.mat-column-surname {
  flex: 0 0 10%;
}
.mat-column-birth {
  flex: 0 0 15%;
}

.mat-column-phone {
  flex: 0 0 15%;
}
.mat-column-address {
  flex: 0 0 15%;
}
