<div>
  <mat-table [dataSource]="dataSource$" >
    <ng-container matColumnDef="checkboxEdit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <mat-checkbox [(ngModel)]="selected[index]"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{'name' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <span *ngIf="!toEdit[index]">{{user.name}}</span>
        <mat-form-field *ngIf="toEdit[index]">
          <input matInput [(ngModel)]="user.name" />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> {{'surname' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <span *ngIf="!toEdit[index]"> {{user.surname}}</span>
        <mat-form-field *ngIf="toEdit[index]">
          <input  matInput [(ngModel)]="user.surname" />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birth">
      <mat-header-cell *matHeaderCellDef> {{'birth' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <span *ngIf="!toEdit[index]">{{user.birth}}</span>
        <mat-form-field *ngIf="toEdit[index]">
          <input  matInput [(ngModel)]="user.birth" />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> {{'phone' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <span *ngIf="!toEdit[index]"> {{user.phone}}</span>
        <mat-form-field *ngIf="toEdit[index]">
          <input  matInput [(ngModel)]="user.phone" />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> {{'address' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <span *ngIf="!toEdit[index]"> {{user.address}}</span>
        <mat-form-field *ngIf="toEdit[index]">
          <input  matInput [(ngModel)]="user.address" />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" (click)="editSelected()">
          <i [ngClass]="{'glyphicon':true, 'glyphicon-pencil': !editting, 'glyphicon-ok':editting }"></i>
          {{'editSelected' | translate}} </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let user; let index = index">
        <button mat-raised-button color="primary" (click)="edit(index)">
          <i [ngClass]="{'glyphicon':true, 'glyphicon-pencil': !toEdit[index], 'glyphicon-ok':toEdit[index] }"
             class="glyphicon glyphicon-pencil"></i>
          {{'edit' | translate}} </button>
        <app-modal-edit [person]="user"></app-modal-edit>
        <button mat-raised-button color="warn" (click)="delete(user,index)"><i class="glyphicon glyphicon-remove"></i>
          {{'delete' | translate}} </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
